<div class="bill"></div>
 



<h3 id="tenstore">The Ten Dollar Store </h3>

<br>
<br>
<div class="item-margin">

  <%= render "items/itemsearch" %>
  
  <% if logged_in? %>
    <h3>Items listed for sale by: <%= current_user.first_name %> <%= current_user.last_name %></h3><br>
  <% else %>
    <h2>User Logged Out</h2><br>
  <% end %>


  <% if logged_in? %>
    <%= render "items/lineitemdisplay" %>
  <% end %>  <!-- end if logged_in? -->
</div>

        


        

        
